<ion-view view-title="Students">
  <ion-content>
    <ion-list>
      <div class="button-bar bar-light">
        <a class="button" style="border-radius:0" ng-click="activeButton='a'; showPopupSearch();" ng-class="{'active':activeButton==='a'}">Search</a>
        <a class="button" style="border-radius:0" ng-click="activeButton='b'; OrderStudents('alpha');" ng-class="{'active':activeButton==='b'}">Sort by ABC</a>
        <!--<a class="button" style="border-radius:0" ng-click="activeButton='c'; orderQuery.order = '-students.length'; Clean();" ng-class="{'active':activeButton==='c'}">Sort by Num</a>-->
      </div>
      <ion-item ng-repeat="stu in students | orderBy : orderQuery.order">
        <a class="item item-icon-left item-button-right">
          <i class="icon ion-person"></i>
          <h2>{{stu.name }}</h2>
          <h2>{{stu.address}}</h2>
          <div ng-repeat="cont in stu.contacts">
            <h3 ng-show="cont.home != undefined">Home: {{cont.home}}</h3>
            <h3 ng-show="cont.work != undefined">Work: {{cont.work}}</h3>
          </div>
          <button class="button button-assertive" ng-click="DeleteStudent(stu._id)">Delete</button>
        </a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
